*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


    /* font */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


    /* nav bar */
.nav-bar
{
  display: flex;
  justify-content: space-between;
  height: 72px;
  margin: 10px 60px;
  align-items: center;
}

.btn-login
{
  padding: 6px 12px;
  height: 32px;
  background-color: red;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.btn-login:hover
{
    background-color: rgb(246, 101, 101);
}
.nav
{
  color: black;
  display: flex;
  list-style-type: none;
  gap: 25px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.nav-text
{
    color: black;
    font-weight: 500;
    text-decoration: none;
}

/* section design */

.section
{
    margin-top: 50px;
    display: flex;
    width: 80%;
    height: 550px;
    margin-left: 180px;
}
.sec
{
    width: 50%;
    height: 550px;
}
.text{
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;

}
.shoes-img{
    display: flex;
    align-items: center;
}

.para
{
    width: 60%;
    margin-top: 10px;
    margin-bottom: 15px;
}
.p{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}
.btn-shop
{
    background-color: red;
    font-size: 15px;
    width: 90px;
    height: 30px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.btn-shop:hover
{
    background-color: rgb(250, 125, 125);
}
.btn-cate
{
    font-size: 15px;
    width: 90px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}
.flip
{
    margin-top: 60px;
}
.p1{
    font-size: 15px;
}

/* Contact us page */

.contactus
{
   
    width: 80%;
    height: 560px;
    margin-left: 200px;
    padding: 10px;
}
.contact-title
{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
    text-transform: uppercase;
    margin-left: 40px;
}
.Contact-p
{
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    width: 80%;
    margin-top: 10px;
    margin-left: 45px;
}

.forms
{
    display: flex;
}
.Contact-form
{
    width: 40%;
    height: 460px;

}
.Contact-img
{
    width: 50%;
    height: 460px;
}
.image{
    width: 90%;
    height: 460px;
}

.btn{
    margin-top: 35px;
    margin-left : 110px;
    display: flex;
    gap: 31px;
}
.btn1
{
   background-color: black;
   color: white;
   width: 200px;
   border-radius: 5px;
   padding: 8px;
   border: 1px solid black;
   cursor: pointer;
}
.btn1:hover
{
    background-color: rgb(38, 38, 38);
}
.call
{

    margin-right: 10px;
    height: 15px;
}

.btn3
{
    margin-left: 95px;
    margin-top: 20px;
    background-color: white;
    color: black;
    width: 400px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid black;
    cursor: pointer;
}

.btn3:hover
{
    background-color: rgb(224, 224, 224);
}

.form-main{
    margin-top: 30px ;
    margin-left: 90px;
    width: 410px;
    height: 270px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.input{
    margin-left: 28px;
    width: 350px;
    height: 35px;
    border-radius: 3px;
    text-indent: 15px;
    border: 1px solid black;
        
}
.btn4
{
    width: 100px;
    padding: 8px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 150px;
    margin-top: 30px;
    cursor: pointer;
}
.btn4:hover
{
    background-color: rgb(62, 62, 62);
}
.Products
{
    display: flex;
    margin-left: 140px;
    width: 80%;
    height: 1000px;
    gap: 10px;
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: space-between;
    margin-top: 40px;
    
}
.btn-buy
{
    padding: 6px 25px;
    cursor: pointer;
    background-color: rgb(22, 22, 22);
    color: white;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    
}

.btn-buy:hover
{
    background-color: rgb(52, 52, 52);
}
.product-card
{
    border-radius: 5px;
    background-color: rgb(240, 236, 236);
    width: 22%;
    height: 350px;
    gap: 10px;
    padding: 10px;
    border: 1px solid rgb(255, 252, 252);
    
}

.image-wrapper
{    
    aspect-ratio: 4/4;
}
.prod-img{
   width: 100%;
    height: 100%;
   
}
.About
{
    width: 70%;
    height: 510px;
    margin-left: 220px;
    padding: 30px;
}
.container
{
    display: flex;
}
.about-name{
    font-family: "Poppins", sans-serif;
    font-weight: 750;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.about-content
{
    margin-top: 10px;
    width: 50%;
    height: 400px;
}
.about-img{
    width: 100%;
    height: 400px;

}
.about-p
{
    /* margin-top: 70px; */
    font-size: 15px;
    padding: 0px 20px 20px 20px;
    font-family: "Poppins", sans-serif;
    color:black;
    text-align: justify;
    line-height: 25px;
    
}
.btn-about
{
    margin-left: 20px;
    padding: 10px  20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.btn-about:hover
{
    background-color: rgb(63, 63, 63);
}

