/* @media screen and (max-width: 1224px){

    .contact-title {
        min-width: 600px;
        font-size: 30px;
        font-family: "Poppins", sans-serif;
        font-weight: 1000;
        text-transform: uppercase;
        margin-left: 0px;
        margin-top: 20px;
    }
    .Contact-p{
        font-size: 10px;
        font-family: "Poppins", sans-serif;
        width: 80%;
        margin-top: 10px;
        margin-left: 0px;

    }

    .image {
        width: 90%;
        height: 360px;
    }
    .btn {
        margin-top: 40px;
        display: flex;
        gap: 31px;
    }

    .btn1 {
        font-size: 10px;
        background-color: black;
        color: white;
        width: 200px;
        border-radius: 5px;
        padding: 4px;
        border: 1px solid black;
        cursor: pointer;
    }
    .form-main {
        margin-top: 30px;
        margin-left: 90px;
        width: 410px;
        height: 270px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .btn3 {
        margin-top: 30px;
        background-color: white;
        color: black;
        width: 310px;
        border-radius: 5px;
        padding: 3px;
        border: 1px solid black;
        cursor: pointer;
    }
    .input {
        margin-left: -46px;
        width: 250px;
        height: 25px;
        border-radius: 3px;
        text-indent: 15px;
        border: 1px solid black;
    }
    .btn4 {
        width: 90px;
        padding: 4px;
        background-color: black;
        color: white;
        border-radius: 5px;
        border: 1px solid black;
        margin-top: 2px;
        cursor: pointer;
    }

    /* About us page */
/* 
 .btn-about {
    font-size: 15px;
    margin-left: 20px;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.about-p {
    /* margin-top: 70px;
    padding: 0px 20px 20px 20px;
    font-family: "Poppins", sans-serif;
    color: black;
    text-align: justify;
    line-height: 20px;
    font-size: 11px;
} }*/


/* For Mobile resolution */

@media screen and (max-width: 600px){

    /* About us page mobile screen */

    .logo{
        
        justify-content: center;
        display: flex;
        margin-bottom: 10px;
    }
   .nav-bar
   {
    flex-direction: column ;
    height: 250px;
   }
  .nav
  {
    width: 100%;
    display: flex;
    flex-direction: column ;
    gap: 5px;
  }
  .nav-text {
    font-size: 15px;
    padding: 8px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: 500;
    text-decoration: none;
  }
  .btn-login {
    padding: 6px 12px;
    height: 32px;
    background-color: red;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}   

    .container {
        flex-direction: column;
        display: flex;
    }
    .About {
        display: contents;
        flex-direction: column;
        /* display: flex; */
        width: 100%;
        height: 510px;
        /* margin-left: 220px; */
        padding: 3px;
    }
  
    .about-name {
        font-family: "Poppins", sans-serif;
        font-weight: 750;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 25px;
        text-transform: uppercase;
    }
    .about-content {
        margin-top: 10px;
        width: 100%;
        height: 440px;
    }
    .btn-about {
        display: flex;
        width: 90%;
        font-size: 15px;
        justify-content: center;
        font-weight: 500;
        background-color: black;
        border: 1px solid black;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
    }
    .about-img {
        margin-left: 21px;
        width: 90%;
        height: 400px;
    }

    /* Home Page */

    .text {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
    }
    .section {
        padding: 20px;
        flex-direction: column;
        margin-top: 20px;
        display: flex;
        width: 100%;
        height: 550px;
        margin-left: 0px;
    }
    .sec {
        width: 100%;
        height: 500px;
    }
    .text {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
    }
    .para {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .flip {
        margin-top: 20px;
    }
    .shoes-img {
        display: flex;
        align-items: center;
        width: 100%;
    }    
    .shoes-img1 {
        padding: 20px;
        width: 100%;
    }    

    /* Products */

    .Products {
        display: contents;
        padding: 50px;
        /* display: flex; */
        /* margin-left: 140px; */
        width: 80%;
        height: 1000px;
        gap: 10px;
        flex-wrap: wrap;
        row-gap: 40px;
        /* justify-content: space-between; */
        /* margin-top: 40px; */
        /* justify-content: center; */
    }
    .product-card {
        border-radius: 5px;
        background-color: rgb(240, 236, 236);
        width: 100%;
        height: 450px;
        gap: 10px;
        padding: 17px;
        border: 1px solid rgb(255, 252, 252);
    }
    .product-card:hover
    {
        background-color: rgb(195, 193, 193);
    }
    .prod-card{
        padding: 20px;
    }

    /* Contact us page  */

    .contactus {
        margin-left: 0px;
        display: block;
        padding: 20px;
        width: 100%;
        height: 560px;
    }
    .contact-title {
        margin-left: 0px;
        display: flex;
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        font-weight: 1000;
        text-transform: uppercase;
    }
    .Contact-p {
        margin-left: 0px;
        font-size: 10px;
        font-family: "Poppins", sans-serif;
        width: 100%;
        margin-top: 10px;
    }
    .forms {
        flex-direction: column;
        display: flex;
    }
    .Contact-form {
        width: 100%;
        height: 290px;
    }

    .btn1 {
        font-size: 11px;
        background-color: black;
        color: white;
        width: 100%;
        border-radius: 5px;
        padding: 3px;
        border: 1px solid black;
        cursor: pointer;
    }
    .btn {
        margin-left: 0px;
        margin-top: 20px;
        display: flex;
        gap: 31px;
    }
    .btn3 {
        margin-left: 0px;
        margin-top: 20px;
        background-color: white;
        color: black;
        width: 100%;
        border-radius: 5px;
        padding: 3px;
        border: 1px solid black;
        cursor: pointer;
    }
    .form-main {
        margin-left: 0px;
        margin-top: 20px;
        width: 100%;
        height: 270px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .input {
        margin-left: 20%;
        width: 60%;
        height: 25px;
        border-radius: 3px;
        text-indent: 15px;
        border: 1px solid black;
    }
    .btn4 {
        margin-left: 36%;
        font-size: 15px;
        width: 90px;
        padding: 4px;
        background-color: black;
        color: white;
        border-radius: 5px;
        border: 1px solid black;
        margin-top: 2px;
        cursor: pointer;
    }
    .Contact-img {
        width: 100%;
        height: 460px;
    }
    .image {
        width: 100%;
        height: 360px;
    }
}